<!DOCTYPE html>
<html>
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<style>
  body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>

<body>
  <div class="topnav">
    <a class="active" href="/admin">O-Car Administrator</a>
    <a href="/admin/noticetb">공지사항 관리</a>
    <a href="/admin/contact-list">문의 관리</a>
    <a href="/admin/list">회원 관리</a>
    <form id="admin_logout" action="/admin/logout" method="get" style="margin-left: 0px;">
      <a href="#" onclick="document.getElementById('admin_logout').submit()" class="btn btn-success ml-2">로그아웃</a>
    </form>
  </div>
  <h3>판매 자도차 등록 LIST</h3>
  <table class="w3-table w3-striped">
    <thead>
      <tr>
        <th>판매자</th>
        <th>모델명</th>
        <th>가격</th>
        <th>등록 날짜</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < rows.length; i++) { %>
          <tr>
            <td><%= rows[i].seller_id %></td>
            <td><%= rows[i].car_title %></td>
            <td><%= rows[i].car_price %></td>
            <td><%= rows[i].created_date %></td>
            <td>
              <form action="/admin/car-delete" method="post">
                <input type="hidden" name="car_id" value="<%= rows[i].car_id %>">
                <input type="submit" value="삭제">
              </form>
            </td>
          </tr>
      <% } %>
    </tbody>
  </table>

</body>
</html>