<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/carousel.css" rel="stylesheet">
  </head>
  <body>
    <%-include('navbar_loggedin.ejs') %>
    <main style="margin-top: 50px;">
      <div class="container marketing">
        <h1><%= title %></h1>
        <% for(let i = 0; i < rows.length; i++) { %>
        <h3><%= rows[i].notice_title %>----<%= rows[i].notice_time %></h3>
        <p><%= rows[i].notice_content %></p>
        <% } %>
      </div>
      <%-include('footer.ejs') %>
    </main>
    <script src="/stylesheets/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
