<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
    <link href="/stylesheets/carousel.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/auth"><img src="/logo.svg" alt="" width="50" height="50"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" href="/auth/sell-list">구입</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/sedan">세단</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/suv">SUV</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/sport">스포츠</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/truck">화물</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/auth/sell">판매</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/auth/contact">문의하기</a>
              </li>
            </ul>
            <form action="/auth/search" class="d-flex" role="search">
              <input class="form-control me-2" type="search" name="title" placeholder="모델명" aria-label="Search">
              <button class="btn btn-outline-success me-2" type="submit">Search</button>
            </form>
            <a href="/auth/detail/user/<%= row.user_name %>" class="nav-link" style="color: rgb(255, 255, 255);"><%= row.user_name %></a>
            <a href="/" class="btn btn-success">Logout</a>
          </div>
        </div>
      </nav>
    </header>
    <main>
    
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      <div id="list" class="w3-container" style="margin-top: 50px;">
        <h2><%= title %></h2>
        <form action="/auth/update" method="post" onsubmit="return onWriteSubmit()">
            <input type="hidden" name="user_id" value="<%= row.user_id %>">
            <table class="w3-table w3-striped">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="user_name" id="user_name" value="<%= row.user_name %>" required></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="email" name="user_email" id="user_email" value="<%= row.user_email %>" required></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" name="user_address" id="user_address" value="<%= row.user_address %>" required></td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td><input type="text" name="user_phone" id="user_phone" value="<%= row.user_phone %>" required></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="user_pw" id="user_pw" required></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
      </div>

    </main>
     <!-- FOOTER -->
     <footer class="container">
        <p class="float-end"><a href="#">위로 스크롤</a></p>
        <p> 2022-1 SW Engineering Team-8 </p>
      </footer>
    <script src="/stylesheets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        function onWriteSubmit() {
          if($("#user_name").val().trim()=="")
          {
            $("#user_name").val("");
            $("#user_name").focus();
            alert("이름을 꼭 입력해 주세요");
            return false;
          }
          if($("#user_email").val().trim()=="")
          {
            $("#user_email").val("");
            $("#user_email").focus();
            alert("이메일을 꼭 입력해 주세요");
            return false;
          }
          if($("#user_address").val().trim()=="")
          {
            $("#user_address").val("");
            $("#user_address").focus();
            alert("주소를 꼭 입력해 주세요");
            return false;
          }
          if($("#user_pw").val().trim()=="")
          {
            $("#user_pw").val("");
            $("#user_pw").focus();
            alert("비밀번호를 꼭 입력해 주세요");
            return false;
          }
          if($("#user_phone").val().trim()=="")
          {
            $("#user_phone").val("");
            $("#user_phone").focus();
            alert("전화번호를 꼭 입력해 주세요");
            return false;
          }
          if(isNaN($("#user_phone").val().trim()))
          {
            $("#user_phone").val();
            $("#user_phone").focus();
            alert("전화번호는 숫자만 입력하세요");
            return false;
          }
        }
      </script>
  </body>
</html>
