<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/carousel.css" rel="stylesheet">
  </head>
  <body>
    <%-include('navbar_loggedin.ejs') %>
    <main>
      <div class="py-5 col-md-8 container">
        <h2 class="py-5 text-center">내 개인정보</h2>
        <form action="/auth/update" method="get">
          <div class="col-md-8 container">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">이름</th>
                  <td><%= row.user_name %></td>
                </tr>
                <tr>
                  <th scope="row">ID</th>
                  <td><%= row.user_id %></td>
                </tr>
                <tr>
                  <th scope="row">email</th>
                  <td><%= row.user_email %></td>
                </tr>
                <tr>
                  <th scope="row">주소</th>
                  <td><%= row.user_address %></td>
                </tr>
                <tr>
                  <th scope="row">전화번호</th>
                  <td><%= row.user_phone %></td>
                </tr>
              </tbody>
            </table>
            <input class="w-100 btn btn-lg btn-primary mb-3" type="submit" value="수정하기"></input>
          </div>          
        </form>
      </div>
    </main>
     <!-- FOOTER -->
     <footer class="container">
        <p class="float-end"><a href="#">위로 스크롤</a></p>
        <p> 2022-1 SW Engineering Team-8 </p>
      </footer>
    <script src="/stylesheets/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
