<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/carousel.css" rel="stylesheet">
  </head>
  <body>
    <%-include('navbar_loggedin.ejs') %>
    <main>
      <div class="pt-5 text-center">
        <img class="mb-4" src="/logo.svg" alt="" width="70" height="70">
        <h4 class="mb-5 fw-normal">판매 자동차 목록</h4>
      </div>
      <div class="container col-md-8">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">모델명</th>
              <th scope="col">가격</th>
              <th scope="col">내용</th>
              <th scope="col">등록 날짜</th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < rows.length; i++) { %>
              <tr>
                <td><%= rows[i].car_title %></td>
                <td><%= rows[i].car_price %></td>
                <td><%= rows[i].car_info %></td>
                <td><%= rows[i].created_date %></td>
                <td>
                  
                  <form action="/auth/car-delete" method="post">
                    <input type="hidden" name="car_id" value="<%= rows[i].car_id %>">
                    <a href="/auth/car-update/<%= rows[i].car_id %>">수정</a>
                    <input type="submit" value="삭제">
                  </form>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>