<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/carousel.css" rel="stylesheet">
  </head>
  <body>
    <%-include('navbar_loggedin.ejs') %>
    <main class="py-5 form-signin w-50 m-auto container">
      <h2 class="py-5 mb-3 fw-normal text-center">개인정보 변경</h2>
      <form action="/auth/update-post" method="post" onsubmit="return onWriteSubmit()">
        <input type="hidden" name="user_id" id="user_id" value="<%= row.user_id %>">
        <div class="form-floating mb-3">
          <input type="text" name="user_name" class="form-control" id="user_name" value="<%= row.user_name %>" required>
          <label for="user_name">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" name="user_email" class="form-control" id="user_email" value="<%= row.user_email %>" required>
          <label for="user_email">e-mail</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" name="user_address" class="form-control" id="user_address" value="<%= row.user_address %>" required>
          <label for="user_address">Address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" name="user_phone" class="form-control" id="user_phone" value="<%= row.user_phone %>" required>
          <label for="user_phone">Phone Number</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" name="user_pw" class="form-control" id="user_pw" required>
          <label for="user_pw">Password</label>
        </div>
        <input class="w-100 btn btn-lg btn-primary mb-3" type="submit" value="변경">
      </form>
    </main>
    <%-include('footer.ejs') %>
    <script src="/stylesheets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        function onWriteSubmit() {
          if($("#user_name").val().trim()=="")
          {
            $("#user_name").val("");
            $("#user_name").focus();
            alert("이름을 꼭 입력해 주세요");
            return false;
          }
          if($("#user_email").val().trim()=="")
          {
            $("#user_email").val("");
            $("#user_email").focus();
            alert("이메일을 꼭 입력해 주세요");
            return false;
          }
          if($("#user_address").val().trim()=="")
          {
            $("#user_address").val("");
            $("#user_address").focus();
            alert("주소를 꼭 입력해 주세요");
            return false;
          }
          if($("#user_pw").val().trim()=="")
          {
            $("#user_pw").val("");
            $("#user_pw").focus();
            alert("비밀번호를 꼭 입력해 주세요");
            return false;
          }
          if($("#user_phone").val().trim()=="")
          {
            $("#user_phone").val("");
            $("#user_phone").focus();
            alert("전화번호를 꼭 입력해 주세요");
            return false;
          }
          if(isNaN($("#user_phone").val().trim()))
          {
            $("#user_phone").val();
            $("#user_phone").focus();
            alert("전화번호는 숫자만 입력하세요");
            return false;
          }
        }
      </script>
  </body>
</html>
