<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/carousel.css" rel="stylesheet">
  </head>
  <body>
    <%-include('navbar_loggedin.ejs') %>
    <main>
      <div class="py-5 container">
        <div class="mx-auto my-4 row">
          <h3><%= row[0].car_title %></h3><!--car_title -> car_model ???-->
        </div>
        <div class="row">
          <p class="lead"><%= row[0].car_number %> | <%= row[0].car_year %> | <%= row[0].car_mileage %> | <%= row[0].car_fuel %></p>
        </div>
        <div class="">
          <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <!-- 이미지 개수에 따라 반복문 필요 !!! -->
              <!-- <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button> -->
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="bd-placeholder-img" width="100%" height="100%" src="<%= row[0].car_image %>" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
              </div>
              <!-- 이미지 개수에 따라 반복문 필요 !!! -->
              <!-- <div class="carousel-item">
                <img class="bd-placeholder-img" width="100%" height="100%" src="/images/grandeur_convenience_electronic_button.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></img>    
                <div class="container">
                  <div class="carousel-caption">
                    <h1 style="text-shadow: 2px 2px 2px #000;">What do you want?</h1>
                    <p style="text-shadow: 1px 1px 1px #000;">당신이 원하는 자동차는 바로 여기에!</p>
                    <p><a class="btn btn-lg btn-primary" href="#">시세 조회</a></p>
                  </div>
                </div>
              </div> -->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!--IMAGE !!!!!!!-->
        <div class="col-md-6"><!--Car Information-->
          <div class="row g-3">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>자동차 정보</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>차량등록번호</td>
                  <td><%= row[0].car_number %></td>
                </tr>
                <tr>
                  <td>차량 소유주</td>
                  <td><%= row[0].car_owner %></td>
                </tr>
                <tr>
                  <td>차량 연식</td>
                  <td><%= row[0].car_year %></td>
                </tr>
                <tr>
                  <td>주행거리</td>
                  <td><%= row[0].car_mileage %></td>
                </tr>
                <tr>
                  <td>연료 종류</td>
                  <td><%= row[0].car_fuel %></td>
                </tr>
              </tbody>
            </table>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>자동차 상태</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= row[0].car_info %></td>
                </tr>
              </tbody>
            </table>
            <div class="input-group">
              <div class="input-group-text bg-info">판매 희망 가격</div>
              <input class="form-control" type="text" value="<%= row[0].car_price %>" readonly>
            </div>
          </div>
        </div>
        <div class="col-md-4"><!--Buying Container-->

        </div>
      </div><!-- /.container -->

      <!-- <p>댓글 </p>
      <form action="/auth/buy/comment" method="get">
      <input type="hidden" name="seller_id" id="seller_id" value="<%= row[0].seller_id %>">
      <textarea name="comment" id="comment" cols="50" rows="10"></textarea><br>
      <button type="submit">comment</button> -->
    
      <!-- FOOTER -->
      <footer class="container">
        <p class="float-end"><a href="#">위로 스크롤</a></p>
        <p> 2022-1 SW Engineering Team-8 </p>
      </footer>
    </main>
    <script src="/stylesheets/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
