<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
    <link href="/stylesheets/carousel.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/auth"><img src="/logo.svg" alt="" width="50" height="50"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" href="/auth/sell-list">구입</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/sedan">세단</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/suv">SUV</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/sport">스포츠</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/truck">화물</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/auth/sell">판매</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/auth/contact">문의하기</a>
              </li>
            </ul>
            <form action="/search" class="d-flex" role="search">
              <input class="form-control me-2" type="search" name="title" placeholder="모델명" aria-label="Search">
              <button class="btn btn-outline-success me-2" type="submit">Search</button>
            </form>
            <a href="/auth/detail/user/<%= name %>" class="nav-link" style="color: rgb(255, 255, 255);"><%= name %></a>
            <a href="/" class="btn btn-success">Logout</a>
          </div>
        </div>
      </nav>
    </header>
    <main>

      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="bd-placeholder-img" width="100%" height="100%" src="/images/grandeur_convenience_head_up_display.webp" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
    
            <div class="container">
              <div class="carousel-caption text-start">
                <h1 style="text-shadow: 2px 2px 2px #000;">Find your favorite.</h1>
                <p style="text-shadow: 1px 1px 1px #000;">당신이 원하는 자동차를 찾아보세요!</p>
                <p><a class="btn btn-lg btn-primary" href="#">시세 조회</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="bd-placeholder-img" width="100%" height="100%" src="/images/grandeur_convenience_electronic_button.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></img>    
            <div class="container">
              <div class="carousel-caption">
                <h1 style="text-shadow: 2px 2px 2px #000;">What do you want?</h1>
                <p style="text-shadow: 1px 1px 1px #000;">당신이 원하는 자동차는 바로 여기에!</p>
                <p><a class="btn btn-lg btn-primary" href="#">시세 조회</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="bd-placeholder-img" width="100%" height="100%" src="/images/grandeur_convenience_hyundai_carpay.webp" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></img>    
            <div class="container">
              <div class="carousel-caption text-end">
                <h1 style="text-shadow: 2px 2px 2px #000;">Here!</h1>
                <p style="text-shadow: 1px 1px 1px #000;">이곳이 바로 당신이 원하는 자동차!</p>
                <p><a class="btn btn-lg btn-primary" href="#">시세 조회</a></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
      <h1><%= title %></h1>
      
      <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
              <img class="bd-placeholder-img mb-2" height="140" src="<%= row[0].image %>" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/></img>
              <h3 class="fw-normal mb-2"><%= row[0].car_title %></h3>
              <table>
                  <tbody>
                    <tr>
                        <td>가격: </td>
                        <td><%= row[0].car_price %></td>
                    </tr>
                    <tr>
                      <td>차량번호: </td>
                      <td><%= row[0].car_number %></td>
                      </tr>
                    <tr>
                      <td>연식: </td>
                      <td><%= row[0].car_year %></td>
                    </tr>
                    <tr>
                        <td>주행거리: </td>
                        <td><%= row[0].car_mileage %></td>
                    </tr>
                    <tr>
                        <td>연료: </td>
                        <td><%= row[0].car_fuel %></td>
                    </tr>
                    <tr>
                        <td>자동차 정보: </td>
                        <td><%= row[0].car_info %></td>
                    </tr>
                  </tbody>
              </table>
              <h4>댓들 <%= rows.length %></h4>
              <table>
                <tbody>
                  <% for(let i = 0; i < rows.length; i++) { %>
                    <tr>
                      <td><p style="font-weight: 600;"><%= rows[i].user_name %></p></td>
                      <td><p><%= rows[i].cmt_content %></p></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
              <form action="/auth/comment" method="post">
                <input type="hidden" name="car_id" id="car_id" value="<%= row[0].car_id %>">
                <textarea name="cmt_content" id="cmt_content" cols="60" rows="2"></textarea>
                <button type="submit">Comment</button>
                </form>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    
      <!-- FOOTER -->
      <footer class="container">
        <p class="float-end"><a href="#">위로 스크롤</a></p>
        <p> 2022-1 SW Engineering Team-8 </p>
      </footer>
    </main>
    <script src="/stylesheets/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
