<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/carousel.css" rel="stylesheet">
    <link href="/stylesheets/form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <%-include('navbar_loggedin.ejs') %>
    <div class="container">
      <main>
        <div class="py-5 text-center">
          <img class="d-block mx-auto mb-4" src="/logo.svg" alt="" width="70" height="70">
          <h2>내 차 수정하기</h2>
          <p class="lead">아래 양식을 통해 내 차를 다른 분에게 판매해보세요!</p>
        </div>
        <div class="row g-5">
            <form class="needs-validation" action="/auth/car-update-post" method="post" novalidate>
              <div class="row g-3">
                <div class="col-6">
                  <label for="car_number" class="form-label">차량등록번호</label>
                  <input type="text" class="form-control" name="car_number" id="car_number" placeholder="123가5678" value="<%= row.car_number %>" required>
                  <div class="invalid-feedback">
                    차량등록번호를 입력하세요.
                  </div>
                </div>
                <div class="col-6">
                  <label for="car_model" class="form-label">자동차 모델명</label>
                  <input type="text" class="form-control" name="car_title" id="car_model" value="<%= row.car_title %>" placeholder="">
                  <div class="invalid-feedback">
                    모델명을 입력해주세요.
                  </div>
                </div>
                <div class="col-6">
                  <label for="car_year" class="form-label">자동차 연식</label>
                  <input type="text" class="form-control" name="car_year" id="car_year" placeholder="2022" value="<%= row.car_year %>" required>
                  <div class="invalid-feedback">
                    연식을 입력해주세요.
                  </div>
                </div>
                <div class="col-6">
                  <label for="car_mileage" class="form-label">주행거리</label>
                  <input type="text" class="form-control" name="car_mileage" id="car_mileage" value="<%= row.car_mileage %>" placeholder="120000(km 단위 제외)" required>
                  <div class="invalid-feedback">
                    주행거리를 입력해주세요.
                  </div>
                </div>
                <div class="col-6">
                  <label for="car_price" class="form-label">판매 희망 가격</label>
                  <input type="text" class="form-control" name="car_price" id="car_price" placeholder="1200000(단위 제외)" value="<%= row.car_price %>" required>
                  <div class="invalid-feedback">
                    판매 희망 가격을 입력해주세요.
                  </div>
                </div>
                <div class="col-6">
                  <label for="car_fuel" class="form-label">연료 종류</label>
                  <select class="form-select" id="car_fuel" name="car_fuel" required>
                    <option value=""><%= row.car_fuel %></option>
                    <option>휘발유</option>
                    <option>경유</option>
                    <option>LPG</option>
                    <option>전기</option>
                    <option>수소</option>
                  </select>
                  <div class="invalid-feedback">
                    연료 종류를 입력해주세요.
                  </div>
                </div>
                <div class="col-12">
                  <label for="car_info" class="form-label">자동차 상태 등(자유 작성)</label>
                  <textarea type="text" class="form-control" name="car_info" id="car_info" placeholder="오른쪽 아래 부분을 드래그하여 입력 창을 조절할 수 있습니다."><%= row.car_info %></textarea>
                </div>
              </div>
              <hr class="my-4">
              <input type="hidden" name="car_id" id="car_id" value="<%= row.car_id %>">
              <button class="w-100 btn btn-primary btn-lg" type="submit">수정하기</button>
            </form>
        </div>
      </main>
    </div>
    <%-include('footer.ejs') %>
    <script src="/stylesheets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
      function onWriteSubmit() {
        if($("#car_number").val().trim()=="")
        {
          $("#car_number").val("");
          $("#car_number").focus();
          alert("비우면 안 됩니다!!");
          return false;
        }
        if($("#image").val().trim()=="")
        {
          $("#image").val("");
          $("#image").focus();
          alert("비우면 안 됩니다!!");
          return false;
        }
        if($("#car_title").val().trim()=="")
        {
          $("#car_title").val("");
          $("#car_title").focus();
          alert("비우면 안 됩니다!!");
          return false;
        }
        if($("#car_year").val().trim()=="")
        {
          $("#car_year").val("");
          $("#car_year").focus();
          alert("비우면 안 됩니다!!");
          return false;
        }
        if($("#car_mileage").val().trim()=="")
        {
          $("#car_mileage").val("");
          $("#car_mileage").focus();
          alert("비우면 안 됩니다!!");
          return false;
        }
        if($("#car_feul").val().trim()=="")
        {
          $("#car_feul").val("");
          $("#car_feul").focus();
          alert("비우면 안 됩니다!!");
          return false;
        }
        if($("#car_info").val().trim()=="")
        {
          $("#car_info").val("");
          $("#car_info").focus();
          alert("비우면 안 됩니다!!");
          return false;
        }
        if($("#car_price").val().trim()=="")
        {
          $("#car_price").val("");
          $("#car_price").focus();
          alert("비우면 안 됩니다!!");
          return false;
        }
      }
    </script>
  </body>
</html>
