<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/carousel.css" rel="stylesheet">
  </head>
  <body>
<<<<<<< HEAD
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="/logo.svg" alt="" width="50" height="50"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" href="/auth/sell-list">구입</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/sedan">세단</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/suv">SUV</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/sport">스포츠</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/truck">화물</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/auth/sell">판매</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/auth/contact">문의하기</a>
              </li>
            </ul>
            <form action="/auth/search" class="d-flex" role="search">
              <input class="form-control me-2" type="search" name="title" placeholder="모델명" aria-label="Search">
              <button class="btn btn-outline-success me-2" type="submit">Search</button>
            </form>
            <a href="/auth/login" class="btn btn-success">Login</a>
          </div>
        </div>
      </nav>
    </header>
=======
    <%-include('navbar.ejs') %>
>>>>>>> main
    <main>
      <%-include('slides.ejs') %>
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
    
      <div class="container marketing">
        <h3>공지사항</h3>
        <!-- Three columns of text below the carousel -->
        <table>
          <% for(let i = 0; i < rows.length; i++) { %>
              <tr>
                  <td><a href="/auth/noticetb-read/<%= rows[i].notice_id %>"><%= rows[i].notice_title %></a></td>
                  <td><p><%= rows[i].notice_time %></p></td>
              </tr>
          <% } %>
      </table>
    
      </div><!-- /.container -->
    
    
      <!-- FOOTER -->
      <footer class="container">
        <p class="float-end"><a href="#">위로 스크롤</a></p>
        <p> 2022-1 SW Engineering Team-8 </p>
      </footer>
    </main>
    <script src="/stylesheets/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
