<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/carousel.css" rel="stylesheet">
  </head>
  <body>
    <%-include('navbar_loggedin.ejs') %>
    <main>
      <%-include('slides.ejs') %>
      <div class="list-group w-auto container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="mb-5 text-center">공지사항</h3>
            <% for(let i = 0; i < rows.length; i++) { %>
              <a href="/auth/noticetb-read/<%= rows[i].notice_id %>" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="/logo.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0"><%= rows[i].notice_title %></h6>
                    <p class="mb-0 opacity-75"><%= rows[i].notice_content %></p>
                  </div>
                  <small class="opacity-50 text-nowrap"><%= rows[i].notice_time %></small>
                </div>
              </a>
            <% } %>
            <h3 class="mb-5 text-center">최근 등록</h3>
            <% rowsc.reverse() %>
            <% for(let i = 0; i < 2; i++) { %>
              <div class="col-lg-4">
                <img class="bd-placeholder-img mb-2" height="140" src="<%= rowsc[i].image %>" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/></img>
                <h3 class="fw-normal mb-2"><%= rowsc[i].car_title %></h3>
                <form action="/auth/buy/<%= rowsc[i].car_id %>" method="get">
                  <p><button type="submit" class="btn btn-secondary">자세히 보기 &raquo;</button></p>
                </form>
              </div>
            <% } %>
          </div>
        </div>
      </div>
      <%-include('footer.ejs') %>
    </main>
    <script src="/stylesheets/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
