<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/carousel.css" rel="stylesheet">
  </head>
  <body>
    <%-include('navbar_loggedin.ejs') %>
    <main>
      <%-include('slides.ejs') %>
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
    
      <div class="container marketing">
        <h3>공지사항</h3>
        <!-- Three columns of text below the carousel -->
        <table>
          <% for(let i = 0; i < rows.length; i++) { %>
              <tr>
                  <td><a href="/auth/noticetb-read/<%= rows[i].notice_id %>"><%= rows[i].notice_title %></a></td>
                  <td><p><%= rows[i].notice_time %></p></td>
              </tr>
          <% } %>
      </table>
    
      </div><!-- /.container -->
    
    
      <!-- FOOTER -->
      <footer class="container">
        <p class="float-end"><a href="#">위로 스크롤</a></p>
        <p> 2022-1 SW Engineering Team-8 </p>
      </footer>
    </main>
    <script src="/stylesheets/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
