<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
    <link href="/stylesheets/carousel.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/auth"><img src="/logo.svg" alt="" width="50" height="50"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" href="/auth/sell-list">구입</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/sedan">세단</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/suv">SUV</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/sport">스포츠</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/buy/truck">화물</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/auth/sell">판매</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/auth/search">시세 조회</a>
              </li>
            </ul>
            <form action="/search" class="d-flex" role="search">
              <input class="form-control me-2" type="search" name="title" placeholder="모델명" aria-label="Search">
              <button class="btn btn-outline-success me-2" type="submit">Search</button>
            </form>
            <a href="/auth/detail/user/<%= name %>" class="nav-link" style="color: rgb(255, 255, 255);"><%= name %></a>
            <a href="/" class="btn btn-success">Logout</a>
          </div>
        </div>
      </nav>
    </header>
    <main style="margin-top: 50px;">
        <h1><%= title %></h1>
        <form action="/auth/sell-post" method="post"  enctype="multipart/form-data" >
            <table>
                <input type="hidden" name="user_id" value="<%= id %>">
                <tr>
                    <td>차량등록번호</td>
                    <td><input type="text" name="car_number" id="car_number" placeholder="123가4567" required></td>
                </tr>
                <tr>
                    <td>사진 등록</td>
                    <td><input type="file" name="image"></td>
                </tr>
                <tr>
                    <td>모델명</td>
                    <td><input type="text" name="car_title" id="car_title" placeholder="Sonata" required></td>
                </tr>
                <tr>
                    <td>자동차 연식</td>
                    <td><input type="text" name="car_year" id="car_year" placeholder="2020" required></td>
                </tr>
                <tr>
                    <td>자동차 주행거리(KM)</td>
                    <td><input type="text" name="car_mileage" id="car_mileage" placeholder="50" required></td>
                </tr>
                <tr>
                    <td>자동차 연료 종료</td>
                    <td><input type="text" name="car_feul" id="car_feul" placeholder="가솔리" required></td>
                </tr>
                <tr>
                    <td>자동차 상태 등(자유 작성)</td>
                    <td><textarea name="car_info" id="car_info" cols="30" rows="10" required></textarea></td>
                </tr>
                <tr>
                    <td>자동차 가격(만원)</td>
                    <td><input type="text" name="car_price" id="car_price" placeholder="1500" required></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">등록</button> 
                    </td>
                </tr>
            </table>
        </form>

    </main>
     <!-- FOOTER -->
     <footer class="container">
        <p class="float-end"><a href="#">위로 스크롤</a></p>
        <p> 2022-1 SW Engineering Team-8 </p>
      </footer>
    <script src="/stylesheets/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
